html, body, #root {
  overflow: hidden;
  margin: 0;
  height:100%;
  width: 100%;
}

.App {
  background-color: #ff8c6f;
  height:100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.listBlock {
  height:100%;
  width: 30%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.searchList {
  border: 3px solid #000;
  background-color: white;
  height: 95%;
  width: 32vw;
}

.musicList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 10;
  transform: translateX(10vw) translateY(1vw);
  background-color: white;
  border: 3px solid #000;
  height: 96%;
  width: 23%;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 20%;
}

.titleText {
  margin: 5% 0 0 5%;
  font-size: 30px;
  font-weight: bolder;
}

.list {
  width: 100%;
  height: 50%;
}

.line {
  margin-top: 0.5vw;
  width: 1.8vw;
  height: 3px;
  background-color: black;
}

.listButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5% 5% 0 0;
  font-size: 22px;
  font-weight: bolder;
  width: 2.5vw;
  height: 4vw;
}

.cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 100%;
  height: 30%;
}

.coverImg {
  width: 100%;
  height: 65%;
  background-repeat: no-repeat;
  background-size: 110%;
}

@keyframes hiddenSearchList {
  0% {
      transform: translateX(0) translateY(0) rotate(0deg);
    }
  100% {
      transform: translateX(-35vw) translateY(-6vw) rotate(30deg);
  }
}

@keyframes showSearchList {
  0% {
      transform: translateX(-35vw) translateY(-6vw) rotate(30deg);
    }
  100% {
      transform: translateX(0) translateY(0) rotate(0deg);
  }
}

@keyframes hiddenMusicList {
  0% {
      transform: translateX(10vw) translateY(1vw) rotate(0deg);
    }
  100% {
      transform: translateX(-28vw) translateY(-1vw) rotate(30deg);
  }
}

@keyframes showMusicList {
  0% {
      transform: translateX(-28vw) translateY(-1vw) rotate(30deg);
    }
  100% {
      transform: translateX(10vw) translateY(1vw) rotate(0deg);
  }
}

@media only screen and (max-width: 700px) {
  .listBlock {
    height:100%;
    width: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    display: none;
  }
  
  .list {
    visibility: hidden;
  }
  
  .musicList {
    position: absolute;
    z-index: 10;
    transform: translateX(10vw) translateY(1vw);
    background-color: white;
    border: 3px solid #000;
    height: 96%;
    width: 25%;
  }


}
