.main {
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 42vw;
    height: 42vw;
    background: white;
    border-radius: 5px;
    border: 3px solid rgba(0,0,0);
}

.player:after, .player:before {
    content: '';
    position: absolute;
    display: block;
    background-color: #c5c5c5;
    border-radius: 5px;
    border: 3px solid #000;
}

.player:before {
    right: -25px;
    top: -4px;
    width: 20px;
    height: 100%;
    transform: skewY(45deg);
    transform-origin: top left;
}

.player:after {
    left: -4px;
    bottom: -25px;
    width: 100%;
    height: 20px;
    transform: skewX(45deg);
    transform-origin: top left;
}

.CDBlock {
    width: 42vw;
    height: 32vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.CD {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 30vw;
    border-radius: 100%;
    border: 3px solid #000;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('https://f4.bcbits.com/img/a1822289889_10.jpg');
    animation: CDanimation infinite 10s linear;
}

.CDCenter {
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 3px solid #000;
}

.rightLine{
    width: 2vw;
    transform: translateX(0) translateY(-2vw) rotate(-10deg);
}

.leftLine{
    margin-left: 0.2vw;
    width: 0.5vw;
    transform: translateX(-1.2vw) translateY(8vw) rotate(25deg);
}

.buttons {
    margin-right: 1vw;
    width: 5vw;
    height: 32vw;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.nextButton {
    margin-top: 20px;
    transform: scaleX(-1);
    background-image: url('./assets/next.svg');
    background-position:center;
    background-repeat: no-repeat;
    background-size: 50%;
    text-align: center;
    transform-style: preserve-3d;
    background-color: white;
    border: 3px solid #000;
    border-radius: 100%;
    width: 3vw;
    height: 3vw;
}

.nextButton:after {
    transform: translateX(-9px) translateZ(-10px);
    border-radius: 100%;
    border: 3px solid #000;
    content: '';
    display: block;
    background-color: #c5c5c5;
    width: 3vw;
    height: 3vw;
    transform-origin: top left;
}

.nextButton:active {
    transform: scaleX(-1) translate(-5px, 2px);
}

.nextButton:active:after {
    visibility: hidden;
}

.lastButton {
    background-image: url('./assets/next.svg');
    background-position:center;
    background-repeat: no-repeat;
    background-size: 50%;
    text-align: center;
    transform-style: preserve-3d;
    background-color: white;
    border: 3px solid #000;
    border-radius: 100%;
    margin-top: 10px;
    width: 3vw;
    height: 3vw;
}

.lastButton:after {
    transform: translateX(3px) translateZ(-10px);
    border-radius: 100%;
    border: 3px solid #000;
    content: '';
    display: block;
    background-color: #c5c5c5;
    width: 3vw;
    height: 3vw;
    transform-origin: top left;
}

.lastButton:active {
    transform: translate(3px, 2px);
}

.lastButton:active:after {
    visibility: hidden;
}

.cycleBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cycleButton {
    margin-bottom: 10px;
    background-image: url('./assets/cycle.svg');
    background-position:center;
    background-repeat: no-repeat;
    background-size: 70%;
    text-align: center;
    transform-style: preserve-3d;
    background-color: white;
    border: 3px solid #000;
    border-radius: 100%;
    width: 3vw;
    height: 3vw;
}

.cycleButton:after {
    transform: translateX(3px) translateZ(-1px);
    border-radius: 100%;
    border: 3px solid #000;
    content: '';
    display: block;
    background-color: #c5c5c5;
    width: 3vw;
    height: 3vw;
    transform-origin: top left;
}

.controlBlock{
    width: 42vw;
    height: 10vw;
}

.controlVoiceBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 42vw;
    height: 7vw;
}

.musicInfo {
    font-size: 1vw;
    margin-left: 2vw;
    display: flex;
    flex-direction: column;
}

.musicName {
    font-size: 1.5vw;
    font-weight: bolder; 
}

.playerComponent {
    transform-style: preserve-3d;
    background-image: url('./assets/player.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 20vw;
    height: 25vw;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    transform: rotate(-20deg);
    transform-origin: 68% 80%;
    position: absolute;
    top: 35%;
    left: 20%;
    z-index: 2;
}

.playerComponent:after {
    transform: translateX(11.2vw) translateY(18.2vw) translateZ(-30px);
    border-radius: 100%;
    border: 0.2vw solid #000;
    content: '';
    display: block;
    background-color: #c5c5c5;
    width: 4.7vw;
    height: 4.7vw;
    transform-origin: top left;
}

.playButton {
    position: absolute;
    top: 32.5vw;
    left: 19.5vw;
    border-radius: 100%;
    width: 4.7vw;
    height: 4.7vw;
    z-index: 3;
}

.playButtonImg {
    transform: translateX(0.9vw) translateY(1vw);
    width: 2.5vw; 
    height: 2.5vw;
}

.controlmusicBlock {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 42vw;
    height: 3vw;
}

.controlSound {
    margin-right: 2.2vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.slider {
    outline: none;
    -webkit-appearance: none;
    border-radius: 20px;
    border: 3px solid black;
    background: white;
    width: 8vw;
    height: 3px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 3px solid black;
    appearance: none;
    width: 1vw;
    height: 1.5vw;
    background: white;
    cursor: pointer;
  }

  .slider:hover {
    background-color: #d3d3d3;
  }

  .musicSlider {
    outline: none;
    -webkit-appearance: none;
    border-radius: 20px;
    border: 3px solid black;
    background: white;
    width: 34vw;
    height: 3px;
  }

  .musicSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 3px solid black;
    appearance: none;
    width: 1vw;
    height: 1.5vw;
    background: white;
    cursor: pointer;
  }

  .musicSlider:hover {
    background-color: #d3d3d3;
  }

  .soundImg {
    width: 1.2vw; 
    height: 1.2vw; 
    margin-left: 5px;
  }

  @keyframes hiddenCD {
    0% {
        transform: translateX(0);
      }
    100% {
        transform: translateX(-12vw);
    }
  }  

  @keyframes showCD {
    0% {
        transform: translateX(-12vw);
      }
    100% {
        transform: translateX(0);
    }
  }  


  @keyframes CDanimation {
    from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
  }

  @keyframes playAnimation {
    0% {
        transform: rotate(-20deg);
      }
    50% {
        transform: rotate(0deg);
      }
    100% {
        transform: rotate(15deg);
    }
  }

  @keyframes stopAnimation {
    0% {
        transform: rotate(15deg);
      }
    50% {
        transform: rotate(0deg);
      }
    100% {
        transform: rotate(-20deg);
    }
  }

  @keyframes lineAnimation {
    0% {
        transform: translateX(0) translateY(-2vw) rotate(-10deg);
      }
    50% {
        transform: translateX(0.5vw) translateY(-2.5vw) rotate(-5deg);
      }
    100% {
        transform: translateX(0) translateY(-2vw) rotate(-10deg);
      }
  }

  @keyframes leftLineAnimation {
    0% {
        transform: translateX(-50px) translateY(200px) rotate(40deg);
      }
    50% {
        transform: translateX(-40px) translateY(180px) rotate(25deg);
      }
    100% {
        transform: translateX(-50px) translateY(200px) rotate(40deg);
      }
  }

@media only screen and (max-width: 700px) {
    .player {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 250px;
        height: 250px;
        background: white;
        border-radius: 5px;
        border: 3px solid rgba(0,0,0);
    }
    
    .player:after, .player:before {
        content: '';
        position: absolute;
        display: block;
        background-color: #c5c5c5;
        border-radius: 5px;
        border: 3px solid #000;
    }
    
    .player:before {
        right: -25px;
        top: -4px;
        width: 20px;
        height: 100%;
        transform: skewY(45deg);
        transform-origin: top left;
    }

    .player:after {
        left: -4px;
        bottom: -25px;
        width: 100%;
        height: 20px;
        transform: skewX(45deg);
        transform-origin: top left;
    }

    .CDBlock {
        width: 230px;
        height: 160px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .CD {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 150px;
        border-radius: 100%;
        border: 3px solid #000;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('https://www.101media.com.tw/img/2016/05/06/1605977011udfck.jpg');
        animation: CDanimation infinite 10s linear;
    }
    
    .CDCenter {
        background-color: white;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        border: 3px solid #000;
    }
    
    .rightLine{
        width: 2vw;
        transform: translateX(0) translateY(-2vw) rotate(-10deg);
    }
    
    .leftLine{
        margin-left: 0.2vw;
        width: 0.5vw;
        transform: translateX(-1.2vw) translateY(8vw) rotate(25deg);
    }

    .buttons {
        margin-right: 20px;
        width: 30px;
        height: 160px;
        position: absolute;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
    .nextButton {
        margin-top: 10px;
        transform: scaleX(-1);
        background-image: url('./assets/next.svg');
        background-position:center;
        background-repeat: no-repeat;
        background-size: 50%;
        text-align: center;
        transform-style: preserve-3d;
        background-color: white;
        border: 3px solid #000;
        border-radius: 100%;
        width: 20px;
        height: 20px;
    }
    
    .nextButton:after {
        transform: translateX(-9px) translateZ(-10px);
        border-radius: 100%;
        border: 3px solid #000;
        content: '';
        display: block;
        background-color: #c5c5c5;
        width: 20px;
        height: 20px;
        transform-origin: top left;
    }
    
    .nextButton:active {
        transform: scaleX(-1) translate(-5px, 2px);
    }
    
    .nextButton:active:after {
        visibility: hidden;
    }
    
    .lastButton {
        background-image: url('./assets/next.svg');
        background-position:center;
        background-repeat: no-repeat;
        background-size: 50%;
        text-align: center;
        transform-style: preserve-3d;
        background-color: white;
        border: 3px solid #000;
        border-radius: 100%;
        margin-top: 10px;
        width: 20px;
        height: 20px;
    }
    
    .lastButton:after {
        transform: translateX(3px) translateZ(-10px);
        border-radius: 100%;
        border: 3px solid #000;
        content: '';
        display: block;
        background-color: #c5c5c5;
        width: 20px;
        height: 20px;
        transform-origin: top left;
    }
    
    .lastButton:active {
        transform: translate(3px, 2px);
    }
    
    .lastButton:active:after {
        visibility: hidden;
    }
    
    .cycleBlock {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .cycleButton {
        margin-bottom: 10px;
        background-image: url('./assets/cycle.svg');
        background-position:center;
        background-repeat: no-repeat;
        background-size: 70%;
        text-align: center;
        transform-style: preserve-3d;
        background-color: white;
        border: 3px solid #000;
        border-radius: 100%;
        width: 20px;
        height: 20px;
    }
    
    .cycleButton:after {
        transform: translateX(3px) translateZ(-1px);
        border-radius: 100%;
        border: 3px solid #000;
        content: '';
        display: block;
        background-color: #c5c5c5;
        width: 20px;
        height: 20px;
        transform-origin: top left;
    }
    
    .controlBlock{
        width: 250px;
        height: 90px;
    }
    
    .controlVoiceBlock {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 250px;
        height: 60px;
    }
    
    .musicInfo {
        font-size: 10px;
        margin-left: 15px;
        display: flex;
        flex-direction: column;
    }

    .musicName {
        font-size: 15px;
        font-weight: bolder; 
    }
    
    .playerComponent {
        transform-style: preserve-3d;
        background-image: url('./assets/player.svg');
        background-size: contain;
        background-repeat: no-repeat;
        width: 100px;
        height: 180px;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        transform: rotate(-20deg);
        transform-origin: 78% 67%;
        position: absolute;
        top: 28%;
        left: 20%;
        z-index: 2;
    }
    
    .playerComponent:after {
        transform: translateX(70px) translateY(110px) translateZ(-30px);
        border-radius: 100%;
        border: 1px solid #000;
        content: '';
        display: block;
        background-color: #c5c5c5;
        width: 27px;
        height: 27px;
        transform-origin: top left;
    }
    
    .playButton {
        transform: translateX(-0.5vw) translateY(-12px);
        position: absolute;
        border-radius: 100%;
        width: 27px;
        height: 27px;
        z-index: 3;
    }
    
    .playButtonImg {
        transform: translateX(8px) translateY(2px);
        width: 10px;
        height: 10px;
    }
    
    .controlmusicBlock {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 250px;
        height: 30px;
    }
    
    .controlSound {
        margin-right: 2.2vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .soundImg {
        width: 15px; 
        height: 15px; 
        margin-left: 5px;
      }

    .slider {
        outline: none;
        -webkit-appearance: none;
        border-radius: 20px;
        border: 3px solid black;
        background: white;
        width: 50px;
        height: 3px;
    }
    

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: 3px solid black;
        appearance: none;
        width: 10px;
        height: 20px;
        background: white;
        cursor: pointer;
    }

    .slider:hover {
        background-color: #d3d3d3;
    }

    .musicSlider {
        outline: none;
        -webkit-appearance: none;
        border-radius: 20px;
        border: 3px solid black;
        background: white;
        width: 150px;
        height: 3px;
    }

    .musicSlider::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: 3px solid black;
        appearance: none;
        width: 10px;
        height: 20px;
        background: white;
        cursor: pointer;
  }

    .musicSlider:hover {
        background-color: #d3d3d3;
    }

  }